.carousel {
  position: relative;
  width: 374px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.numbers-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.numbers {
  display: flex;
}

.number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  align-items: center;
}

.right-arrow {
  right: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  align-items: center;
}

.number:hover {
  background-color: #ff6b08;
  border-radius: 5px;
}

.number.active {
  background-color: #ff6b08;
  color: #fff;
  border-radius: 5px;
}

p {
  background-color: #f7f7f7;
  width: 100%;
  height: 77px;
  padding-top: 50px;
  text-align: center;
}
