
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(93, 93, 90, 0.5);
    color: rgba(234, 231, 217, 0.01); 
    }
    
    .modal-content {
    background-color: hsla(0, 0%, 100%, .9);
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 380px;
    max-width: 90%; 
    height: 700px;
    overflow: auto; 
    position: relative;
    top: -10px;
    }
    
    .close {
    background-color: #ff6b08; 
    color: transparent; 
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.3s; 
    }
    
    .close:hover {
    background-color: dimgrey; 
    color: transparent;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);
    }
    
    .member {
    background-color: #fff;
    padding: 10px;
    width: 330px;
    height: 100px;
    list-style: none;
    box-shadow: 0 3px 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.08), 0 2px 2px rgba(0,0,0,.12);
    border-radius: 0 0 4px 4px;
    }
      
     
      
    .rectangle{
    display: flex;
    }
    
    ul.member-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    gap:10px;}
    
    .name{
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: column; 
    line-height: 0px;
    width: 220px;
    height: 80px;
    }
    
    .circle img{
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: 2px solid #ff6b08;
    position: relative;
    top: -4px;
    left: 10px;
    width: 85px;
    }
    
    .name h3{
    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: gray;
    }
    
     footer .name p{
    color:#ff6b08;
    margin-top: 7px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: normal;
    padding-top: 0px
    }
    
    .title-modal{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    color: #000;

    }
    
    
    /* Tablet */
    @media screen and (min-width: 768px){
    
      .modal-content{
      width: 600px;
      height: 450px;  
      }
    
      .member{
      width: 250px;
      height: 90px;
      }
      .modal-content{
        top: -130px;
      }
    
      .name h3{
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color:gray;
      }
    
      .name p{
      font-size: 14px;
      }
    
      .circle img{
      top: -2px;
      left: 4px;
      width: 75px
      }
    
      .title-modal{
      font-size: 24px;
      }
    
      ul.member-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding-left: 17px;
      }
    
    }
    
    
    /* Desktop */
    @media screen and (min-width: 1200px){
     .modal-content{
      width: 770px; 
      height: 500px;
      }
    
      .member{
      width: 330px;
      height: 100px;
      }
    
      .name h3{
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: gray;
      }
    
      .name p{
      font-size: 14px;
      }
    
      .circle img{
      top: -6px;
      left: 9px;
      width: 90px;
      }
    
      .title-modal{
      font-size: 30px;
      }
    
    }