.container,
.visually-hidden {
  max-width: 320px;
  padding: 0 20px;
}

.library-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button-list {
  width: 130px;
  padding: 13px 36px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.button-list button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.visually-hidden {
  color: rgb(255, 107, 8);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

// Tablet
@media screen and (min-width: 768px) {
  .container,
  .visually-hidden {
    max-width: 618px;
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .container,
  .visually-hidden {
    max-width: 882px;
  }
}
