<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="./sass/footer.scss" />
  </head>
  <body>
    <div class="carousel">
      <div class="arrow left-arrow">&lt;</div>
      <div class="numbers-container">
        <div class="numbers">
          <!-- Numerele de la 1 la 7 sau paginile cu puncte intermediare -->
        </div>
      </div>
      <div class="arrow right-arrow">&gt;</div>
    </div>

    <p>
      © 2020 | All Rights Reserved | Developed with
      <img
        src="./images/footer/orange-hearth-footer.png.png"
        alt="orange hearth"
        width="14px"
        height="12.88px"
      />
      <span class="students" onclick="openModal()">by GoIT Students</span>
    </p>

    <script src="./js/footer.js"></script>
  </body>
</html>
