<footer>
    <div id="spinner"></div>
  <div class="modal" id="myModal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="team-members">
        <h2 class="title-modal">The project was made by:</h2>
        <ul class="member-list">
          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/medeea.jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>Maria Tabirca</h3>
                <p>Team leader</p>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/emanuel.jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>Emanuel Costin</h3>
                <p>Scrum master</p>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/catalin.jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>Nedelcu Cătălin</h3>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/natali..jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>Natalia Cazacu</h3>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
          <!-- <li class="member">
                        <div class="rectangle">
                            <div class="circle">
                                <img  class="circle-img" src="./dragos.jpg" alt="Photo"   width="90"> 
                            </div>
                            <div class="name">
                            <h3>Dragoș Mihăilescu</h3>
                            <p>Frontend developer</p>
                            </div>
                            
                        </div>
                    </li> -->

          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/nicolae.jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>Romi Baciu</h3>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
          <li class="member">
            <div class="rectangle">
              <div class="circle">
                <img
                  class="circle-img"
                  src="/src/images/desktop/avatar.jpg"
                  alt="Photo"
                  width="90"
                />
              </div>
              <div class="name">
                <h3>VendLinger Lorand</h3>
                <p>Frontend developer</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  
</footer>
