<!-- Header: team will add more features-->
<header>
  <div class="container">
    <ul class="library-list">
      <li class="button-list">
        <button type="button" class="btn-watched" id="btn-watched">
          WATCHED
        </button>
      </li>
      <li class="button-list">
        <button type="button" class="btn-queue" id="btn-queue">QUEUE</button>
      </li>
      <li class="button-list">
        <button type="button" class="btn-clear" id="btn-clear">
          CLEAR <span class="btn-active"></span> LIST
        </button>
      </li>
    </ul>
  </div>
</header>
<main>
  <section class="cards">
    <h2 class="visually-hidden">
      Oops! Your <span class="btn-active">X</span> library is empty!
    </h2>
    <div class="container">
      <ul class="cards-list"></ul>
    </div>
  </section>
</main>
<!-- Footer: team will add features-->
<footer></footer>
